/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

.transition, .taskListContainer li i:before, .taskListContainer li i:after, div {
  transition: all 0.25s ease-in-out;
}

.flipIn, .taskListContainer li, h1 {
  animation: flipdown 0.5s ease both;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  background-color: #c9c9c9;
  padding: 15px;
}

aside .list-item {
  cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

form {
    border: 1px solid #000;
    padding: 15px;
}

.container {
    padding: 15px;
}

#lists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
}

#lists-container .list-item {
  position: relative;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
  
#lists-container .list-item h2 {
  text-align: center;
}

#lists-container .list-item span {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #c9c9c9;
  border-radius: 50px;
  text-align: center;
  line-height: 1.6;
}

.taskListContainer {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.taskListContainer li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}

.taskListContainer li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.taskListContainer li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.taskListContainer li:nth-of-type(3) {
  animation-delay: 1s;
}
.taskListContainer li:last-of-type {
  padding-bottom: 0;
}
.taskListContainer li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.taskListContainer li i:before, .taskListContainer li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
.taskListContainer li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.taskListContainer li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.taskListContainer li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.taskListContainer li input[type=checkbox]:checked ~ div {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.taskListContainer li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.taskListContainer li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}